*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	text-decoration: none;
}
*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   text-decoration: none;
}

.header{
	height: 100px;
	display: flex;
	background: #4aba00;
    justify-content: center;
    gap: 25px;
    align-items: center;
}

.nav{
	display: flex;
	justify-content: space-around;
	gap: 25px;
}