*{
	box-sizing: border-box;
}


body {
	background: yellow;
}

h2{
	font-size: 24px;
	text-align: center;
	font-weight: 900;
	text-transform: uppercase;
}

h1{
	font-size: 50px; 
	text-align: center;
	font-weight: 900;
	text-transform: uppercase;
	
}
h3{
	font-size: 24px;
	text-align: center;
	font-weight: 900;
	text-transform: uppercase;
	
}
.circle{
	text-align: center;
	width: 200px;
	height: 200px;
	background: green;
	padding: 20px;
	margin: 50px auto;
    border: 15px solid darkcyan;
    border-radius: 50%;
}
p{
	font-size: 23px;
}
img{
	width: 1650px;
	height: 450px;
}
p{
  color: brown;
  text-align: center;
}