body{
	font-size: 14px;
}

h1{
	color:red;
	font-size: 4.5em;
	font-weight: 100;
	text-align: center;

}


a{
	color: #07087A;
	text-decoration: underline wavy;
}
img{
	width: 650px;
	height: 450px;
}



p{
	border-left: 5px solid red;
	border-right: 5px dashed red;
	border-top: 5px dotted red;
	border-bottom: 5px double red;
}
img{
	img-align:center;
}